In [117]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Lab2").getOrCreate()

df=spark.read.csv("people.csv",header=True)

In [118]:
from pyspark.sql.functions import col

df1 = df.filter(col("age") > 30)
df1 = df1.withColumn("age_in_months", col("age") * 12)

In [119]:
row_count = df1.count()
print(f"Number of rows: {row_count}")

df1.show()

Number of rows: 71
+---+----------+----------+-----------+---+-------------+
| id|first_name| last_name|     gender|age|age_in_months|
+---+----------+----------+-----------+---+-------------+
|  1|   Falkner|    Caddan|       Male| 72|        864.0|
|  3|      Chev| Leavesley|       Male| 62|        744.0|
|  4|    Lynnea|   Bardill|     Female| 77|        924.0|
|  5|   Annabal|      Hast|     Female| 32|        384.0|
|  6|Stephannie|    Spragg|     Female|100|       1200.0|
|  7|    Malchy|  Cockayne| Polygender| 42|        504.0|
|  8|   Rolland|     Doble|       Male| 35|        420.0|
|  9| Valentijn|Gilsthorpe|       Male| 96|       1152.0|
| 10|    Alikee| De Santos|     Female| 73|        876.0|
| 11|     Netta|   Schanke| Non-binary| 44|        528.0|
| 12|     Saree|   Gethins|     Female| 45|        540.0|
| 14|      Elsa| Iwanowicz|    Agender| 55|        660.0|
| 15| Annaliese|  Prantoni| Polygender| 98|       1176.0|
| 16|    Georgy|     Brosh|       Male| 39|        468.0|
| 17|  Olenolin|Ambrosetti| Polygender| 44|        528.0|
| 18|      Davy|      Cruz|       Male| 60|        720.0|
| 23|    Vasili|   Gulston|       Male| 50|        600.0|
| 26|     Virge|     Ogley|       Male| 98|       1176.0|
| 27| Augustine|    Farens|Genderqueer| 92|       1104.0|
| 28|     Ricki|     Kienl|    Agender| 98|       1176.0|
+---+----------+----------+-----------+---+-------------+
only showing top 20 rows

In [120]:
from pyspark.sql.functions import sum, avg

avg_val = df.select(avg("age")).collect()[0][0]
sum_val = df.select(sum("age")).collect()[0][0]

print("Avg value:",avg_val)
print("Sum:",sum_val)

Avg value: 51.22222222222222
Sum: 5071.0

In [121]:
df1 = df1.repartition(1)
df1.write.csv("output.csv", header=True, mode='overwrite')

In [122]:
def clean(txt):
    txt=txt.replace('.','')
    txt=txt.replace(',','')
    return txt

text = spark.sparkContext.textFile("demo.txt")
words = text.flatMap(lambda line: clean(line).split())
words = words.map(lambda word: (word, 1)) 
words = words.reduceByKey(lambda a, b: a + b) 
for i in words.collect():
    print(i[0]," : ",i[1])

far  :  3
away  :  1
mountains  :  1
countries  :  1
Vokalia  :  1
there  :  2
live  :  2
texts  :  2
Separated  :  1
in  :  2
Bookmarksgrove  :  2
right  :  1
at  :  1
coast  :  1
of  :  10
large  :  1
language  :  1
ocean  :  1
named  :  1
Duden  :  1
flows  :  1
supplies  :  1
It  :  1
is  :  2
paradisematic  :  1
country  :  1
fly  :  1
into  :  2
mouth  :  1
all-powerful  :  1
no  :  1
an  :  1
One  :  1
however  :  1
line  :  1
name  :  1
Lorem  :  1
Ipsum  :  1
decided  :  1
leave  :  1
World  :  1
The  :  1
her  :  6
do  :  1
wild  :  1
Question  :  1
Marks  :  1
but  :  1
didnâ€™t  :  1
She  :  1
packed  :  1
seven  :  1
put  :  1
initial  :  1
belt  :  1
way  :  1
When  :  1
reached  :  1
Mountains  :  1
last  :  1
headline  :  1
Alphabet  :  1
subline  :  1
own  :  1
road  :  1
Line  :  1
Lane  :  1
question  :  1
ran  :  1
Far  :  1
behind  :  1
the  :  19
word  :  1
from  :  1
and  :  5
Consonantia  :  1
blind  :  3
they  :  1
Semantics  :  1
a  :  5
A  :  1
small  :  2
river  :  1
by  :  2
their  :  1
place  :  1
it  :  2
with  :  1
necessary  :  1
regelialia  :  1
which  :  1
roasted  :  1
parts  :  1
sentences  :  1
your  :  1
Even  :  1
Pointing  :  1
has  :  1
control  :  1
about  :  1
almost  :  1
unorthographic  :  1
life  :  1
day  :  1
text  :  1
to  :  2
for  :  1
Grammar  :  1
Big  :  1
Oxmox  :  1
advised  :  1
not  :  1
so  :  1
because  :  1
were  :  1
thousands  :  1
bad  :  1
Commas  :  1
devious  :  1
Semikoli  :  1
Little  :  1
Blind  :  1
Text  :  1
listen  :  1
versalia  :  1
made  :  1
herself  :  1
on  :  2
she  :  2
first  :  1
hills  :  1
Italic  :  1
had  :  1
view  :  1
back  :  1
skyline  :  1
hometown  :  1
Village  :  1
Pityful  :  1
rethoric  :  1
over  :  1
cheek  :  1
then  :  1

In [123]:
spark.stop()